@{
    ViewBag.Title = "Home Page";
}

<head>
    <style>
        * {
            font-family: Tahoma, Geneva, sans-serif;
        }

        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>

<h2>Welcome to the Person Database!</h2><br />

@Html.Raw(@ViewData["markup"])